@use "../settings" as setting;
@use "../tools" as tool;

.c-btn {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: var(--c-txt);
  background: var(--c-bg);
  border: solid 1px var(--c-txt);
  font-size: setting.fontsize(s);
  padding: clamp(setting.spaces(base), calc((100vw - 768px) * 999), setting.spaces(m));
  font-weight: setting.fontweight(m);
  cursor: pointer;
  max-width: 370px;
  transition: all setting.animes(duration) setting.animes(timing);

  &:hover,
  &:focus {
    color: var(--c-bg);
    background: var(--c-txt);
  }

  &:focus {
    outline: 1px solid var(--c-txt);
    outline-offset: 1px;
  }
/*
  &:disabled {
    color: var(--c-dimmed);
    pointer-events: none;
    background: var(--c-overlay);
  }
*/

  &\:accent {
    background: var(--c-accent);
    color: setting.lightcolor(bg);
    border-color: var(--c-accent);
    &:hover,
    &:focus {
      background: setting.lightcolor(bg);
      color: var(--c-accent);
    }
    &:focus {
      outline-color: var(--c-accent);
    }
  }

  /*

  &\:ghost {
    background: transparent;
    border: solid 1px;

    &:hover,
    &:focus {
      color: setting.lightcolor(dimmed);
      background: setting.lightcolor(bg);
    }
  }

  */
}
