@use "../settings" as setting;
@use "../tools" as tool;

.c-footer {
  background: var(--c-overlay);
  position: sticky;
  top: 100vh;
  padding-top: clamp(setting.spaces(l), calc((100vw - 768px) * 999), setting.spaces(xl));
  padding-bottom: clamp(setting.spaces(xl), calc((100vw - 768px) * 999), setting.spaces(3xl));
}
.c-footer-navs {
  flex-basis: calc((768px - 100vw) * 999);
  min-width: fit-content;
}
.c-footer-item {
  flex-basis: calc((768px - 100vw) * 999);
  min-width: fit-content;
  &\:upper {
    border-top-style: solid;
    border-top-color: var(--c-border);
    border-top-width: clamp(0px, calc((768px - 100vw) * 999), 1px);
  }
}
.c-footer-link {
  display: block;
  font-size: setting.fontsize(xs);
  font-weight: setting.fontweight(m);
  &\:upper {
    padding: setting.spaces(s) 0;
  }
  &\:bottom {
    padding: setting.spaces(xs) 0;
    color: var(--c-dimmed);
  }
}
.c-follow-heading,
.c-copyright {
  font-family: setting.$font-family-en;
}
.c-follow-heading {
  font-size: setting.fontsize(m);
  margin-top: clamp(0px, calc((100vw - 768px) * 999), setting.spaces(s));
  margin-bottom: clamp(setting.spaces(xs), calc((768px - 100vw) * 999), setting.spaces(base));
  font-weight: setting.fontweight(b);
}
.c-follow-link {
  line-height: 1;
  font-size: clamp(setting.fontsize(m), calc((768px - 100vw) * 999), setting.fontsize(l));
}
.c-copyright {
  font-size: setting.fontsize(xs);
  margin-top: clamp(setting.spaces(m), calc((768px - 100vw) * 999), setting.spaces(xl));
}
