@use "../settings" as setting;

.u-mt {
  &-xs {
    margin-top: setting.spaces(xs);
  }

  &-s {
    margin-top: setting.spaces(s);
  }

  &-base {
    margin-top: setting.spaces(base);
  }

  &-m {
    margin-top: setting.spaces(m);
  }

  &-l {
    margin-top: setting.spaces(l);
  }
}

.u-mb {
  &-s {
    margin-bottom: setting.spaces(s);
  }

  &-base {
    margin-bottom: setting.spaces(base);
  }

  &-m {
    margin-bottom: setting.spaces(m);
  }

  &-l {
    margin-bottom: setting.spaces(l);
  }
}

.u-pd {
  &-xs {
    padding: setting.spaces(xs);
  }

  &-s {
    padding: setting.spaces(s);
  }

  &-base {
    padding: setting.spaces(base);
  }

  &-m {
    padding: setting.spaces(m);
  }

  &-l {
    padding: setting.spaces(l);
  }
}

.u-pt {
  &-2xs {
    padding-top: setting.spaces(2xs);
  }

  &-xs {
    padding-top: setting.spaces(xs);
  }

  &-s {
    padding-top: setting.spaces(s);
  }

  &-base {
    padding-top: setting.spaces(base);
  }

  &-m {
    padding-top: setting.spaces(m);
  }

  &-l {
    padding-top: setting.spaces(l);
  }
}

.u-pb {
  &-2xs {
    padding-bottom: setting.spaces(2xs);
  }

  &-xs {
    padding-bottom: setting.spaces(xs);
  }

  &-s {
    padding-bottom: setting.spaces(s);
  }

  &-base {
    padding-bottom: setting.spaces(base);
  }

  &-m {
    padding-bottom: setting.spaces(m);
  }

  &-l {
    padding-bottom: setting.spaces(l);
  }
}

.u-pr {
  &-3xs {
    padding-right: setting.spaces(3xs);
  }

  &-2xs {
    padding-right: setting.spaces(2xs);
  }

  &-xs {
    padding-right: setting.spaces(xs);
  }

  &-s {
    padding-right: setting.spaces(s);
  }

  &-base {
    padding-right: setting.spaces(base);
  }

  &-m {
    padding-right: setting.spaces(m);
  }

  &-l {
    padding-right: setting.spaces(l);
  }
}

.u-pl {
  &-3xs {
    padding-left: setting.spaces(3xs);
  }

  &-2xs {
    padding-left: setting.spaces(2xs);
  }

  &-xs {
    padding-left: setting.spaces(xs);
  }

  &-s {
    padding-left: setting.spaces(s);
  }

  &-base {
    padding-left: setting.spaces(base);
  }

  &-m {
    padding-left: setting.spaces(m);
  }

  &-l {
    padding-left: setting.spaces(l);
  }
}

.u-pv {
  &-2xs {
    padding-top: setting.spaces(2xs);
    padding-bottom: setting.spaces(2xs);
  }

  &-xs {
    padding-top: setting.spaces(xs);
    padding-bottom: setting.spaces(xs);
  }

  &-base {
    padding-top: setting.spaces(base);
    padding-bottom: setting.spaces(base);
  }
}

.u-ph {
  &-xs {
    padding-right: setting.spaces(xs);
    padding-left: setting.spaces(xs);
  }

  &-s {
    padding-right: setting.spaces(s);
    padding-left: setting.spaces(s);
  }
}

.u-gap {
  &-3xs {
    gap: setting.spaces(3xs);
  }

  &-2xs {
    gap: setting.spaces(2xs);
  }

  &-xs {
    gap: setting.spaces(xs);
  }

  &-s {
    gap: setting.spaces(s);
  }

  &-base {
    gap: setting.spaces(base);
  }
}
