@use "../settings" as setting;

.u-wrapper {
  max-width: setting.itemsize(wrapper);
}

.u-inner-wrap {
  max-width: setting.itemsize(content);
}

.u-clip-hero {
  max-height: 450px;
  overflow: hidden;
}
