@use "../settings" as setting;

.o-grid {
  display: grid;

  /*
  &\:pagination {
    grid-template: auto / repeat(auto-fit, minmax(min((calc(375px - 100vw) * 999), 2em), auto));
  }

  &\:accept {
    grid-template-columns: max-content max-content auto;
    cursor: pointer;
  }

  &\:author {
    grid-template-columns: 50px 1fr;
    width: fit-content;
  }

  &\:third {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }

  &\:quart {
    grid-template-columns: repeat(auto-fill, minmax(268px, 1fr));
  }

  &\:fifth {
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  }
  */
}
