@use "../settings" as setting;

.o-stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &\:sp-follow,
  &\:follow-us {
    & > * + * {
      margin-top: clamp(setting.spaces(xs), calc((768px - 100vw) * 999), setting.spaces(base));
    }
  }
  &\:sp-follow {
    align-items: center;
    margin-top: setting.spaces(m);
  }
  &\:follow-us {
    margin-top: clamp(0px, calc((100vw - 768px) * 999), setting.spaces(s));
  }

  /*
  &\:xxs {
    & > * + * {
      margin-top: setting.spaces(2xs);
    }
  }

  &\:xs {
    & > * + * {
      margin-top: setting.spaces(xs);
    }
  }

  &\:s {
    & > * + * {
      margin-top: setting.spaces(s);
    }
  }

  &\:base {
    & > * + * {
      margin-top: setting.spaces(base);
    }
  }

  &\:m {
    & > * + * {
      margin-top: setting.spaces(m);
    }
  }

  &\:l {
    & > * + * {
      margin-top: setting.spaces(l);
    }
  }
  */
}
