@use "../settings" as setting;

.o-stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &\:sp-nav {
    margin-bottom: setting.spaces(m);
    border-bottom: solid 1px setting.lightcolor(bg);
  }

  /*
  &\:xxs {
    & > * + * {
      margin-top: setting.spaces(2xs);
    }
  }

  &\:xs {
    & > * + * {
      margin-top: setting.spaces(xs);
    }
  }

  &\:s {
    & > * + * {
      margin-top: setting.spaces(s);
    }
  }

  &\:base {
    & > * + * {
      margin-top: setting.spaces(base);
    }
  }

  &\:m {
    & > * + * {
      margin-top: setting.spaces(m);
    }
  }

  &\:l {
    & > * + * {
      margin-top: setting.spaces(l);
    }
  }
  */
}
