---
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle = "私たちについて"
const pageSubTitle = "ABOUT US"
---

<BaseLayout pageTitle={pageTitle} pageSubTitle={pageSubTitle} pageImg="/img/hero.png">
  <section class="c-cushion"></section>
</BaseLayout>
