---
import BaseLayout from "../layouts/BaseLayout.astro"
import NewsPosts from "../components/NewsPosts.astro"
import "../styles/components/_news.scss"
import type { GetStaticPathsOptions } from "astro"
const allNews = await Astro.glob("../pages/news/*.md")
const pageTitle = "ニュース"
const pageSubTitle = "NEWS"
---

<BaseLayout pageTitle={pageTitle} pageSubTitle={pageSubTitle} pageImg="/img/hero.png">
  <section class="c-cushion">
    <div class="o-container o-container:wrapper">
      <ul class="o-stack o-stack:c-news">
        {
          allNews.map((post) => (
            <NewsPosts
              url={post.url}
              title={post.frontmatter.title}
              datetime={post.frontmatter.pubDate.slice(0, 10)}
              year={post.frontmatter.pubDate.slice(0, 4)}
              month={post.frontmatter.pubDate.slice(5, 7)}
              date={post.frontmatter.pubDate.slice(8, 10)}
            />
          ))
        }
      </ul>
      <!-- ページネーション -->
    </div>
  </section>
</BaseLayout>
