---
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle = "サイトポリシー"
const pageSubTitle = "TERMS"
---

<BaseLayout pageTitle={pageTitle} pageSubTitle={pageSubTitle} pageImg="/img/hero.png">
  <section class="c-cushion"></section>
</BaseLayout>
