<ul class="o-switcher o-switcher:btm-nav">
  <li class="c-nav-item">
    <a href="/terms" class="c-nav-link c-nav-link:btm-nav">サイトポリシー</a>
  </li>
  <li class="c-nav-item">
    <a href="/privacy-policy" class="c-nav-link c-nav-link:btm-nav">プライバシーポリシー</a>
  </li>
</ul>
