<section class="c-common-cta">
  <div class="o-container o-container:content">
    <h2 class="c-common-cta__heading">いつでもお問い合わせください</h2>
    <p class="c-common-cta__txt">
      私たちにご興味を持っていただきありがとうございます。<br
      />ご相談・ご質問は、こちらからお気軽にお問い合わせください。
    </p>
    <a href="/inquiry" class="c-btn c-btn:accent">お問い合わせ</a>
  </div>
</section>
