<ul class="o-switcher o-switcher:ft-nav">
  <li class="c-nav-item c-nav-item:ft-nav">
    <a href="/" class="c-nav-link c-nav-link:ft-nav">ホーム</a>
  </li>
  <li class="c-nav-item c-nav-item:ft-nav">
    <a href="#" class="c-nav-link c-nav-link:ft-nav">実績紹介</a>
  </li>
  <li class="c-nav-item c-nav-item:ft-nav">
    <a href="/about-us" class="c-nav-link c-nav-link:ft-nav">私たちについて</a>
  </li>
  <li class="c-nav-item c-nav-item:ft-nav">
    <a href="/services" class="c-nav-link c-nav-link:ft-nav">サービス</a>
  </li>
  <li class="c-nav-item c-nav-item:ft-nav">
    <a href="/company" class="c-nav-link c-nav-link:ft-nav">会社情報</a>
  </li>
  <li class="c-nav-item c-nav-item:ft-nav">
    <a href="/news" class="c-nav-link c-nav-link:ft-nav">ニュース</a>
  </li>
  <li class="c-nav-item c-nav-item:ft-nav">
    <a href="#" class="c-nav-link c-nav-link:ft-nav">記事・トピック</a>
  </li>
  <li class="c-nav-item c-nav-item:ft-nav">
    <a href="/inquiry" class="c-nav-link c-nav-link:ft-nav">お問い合わせ</a>
  </li>
</ul>
