---
import PcNav from "../components/PcNav.astro"
import SpNav from "../components/SpNav.astro"
---

<header class="o-container o-container:header">
  <a class="c-logo c-logo:header" href="/" aria-label="Go to Home">
    <svg width="25" height="32" viewBox="0 0 25 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <style>
        @media (prefers-color-scheme: dark) {
          path:nth-of-type(2) {
            fill: #ff5a5a;
          }
        }
      </style>
      <path
        d="M19.193 1.768c-1.924.781-3.828 1.563-5.664 2.463A33.245 33.245 0 0 0 8.3 7.337a17.223 17.223 0 0 0-4.178 4.275 12.85 12.85 0 0 0-1.354 2.686 13.582 13.582 0 0 0-.602 2.216c-.048.254-.087.509-.126.766a10.066 10.066 0 0 1-.007-1.566c.037-.526.114-1.049.23-1.563.237-1.04.62-2.04 1.14-2.972a13.362 13.362 0 0 1 1.883-2.58c.361-.393.745-.762 1.141-1.117s.812-.685 1.236-1.002a24.434 24.434 0 0 1 5.525-3.014 30.714 30.714 0 0 1 6.004-1.698Z"
        fill="#2C6C60"></path>
      <path d="M4.481 15.982c-4.596 5.566 7.02 15.982 8.958 8.476 1.21-5.088-4.358-12.84-9.44-8.236" fill="#C82E2E"
      ></path>
      <path
        d="M1.8 23.17c-.043.317-.103.629-.161.94l-.18.926a41.212 41.212 0 0 0-.322 1.831 10.78 10.78 0 0 0-.13 1.784c.005.274.04.548.102.815.03.12.069.236.119.349l.038.08.02.037.028.048a1.796 1.796 0 0 0 .631.63c.226.137.47.24.726.304a6.325 6.325 0 0 0 1.726.178 16.97 16.97 0 0 0 1.831-.144c.309-.038.619-.08.93-.127.31-.047.623-.095.94-.138a9.842 9.842 0 0 1-.858.423c-.294.128-.59.242-.892.352-.61.216-1.241.373-1.882.469a8.815 8.815 0 0 1-.493.054 6.087 6.087 0 0 1-.502.019 4.992 4.992 0 0 1-1.029-.1 3.538 3.538 0 0 1-1.025-.382A2.823 2.823 0 0 1 .4 30.506l-.034-.06-.036-.067a2.851 2.851 0 0 1-.24-.68 4.43 4.43 0 0 1-.087-1.054c.012-.334.047-.668.106-.998.055-.322.13-.645.214-.954.353-1.228.849-2.41 1.477-3.523Zm6.553-11.175c.248-.243.518-.462.806-.656.29-.194.596-.366.912-.515a8.793 8.793 0 0 1 1.998-.654 12.382 12.382 0 0 1 4.212-.087c.702.102 1.395.259 2.072.47.683.21 1.345.48 1.98.807.644.33 1.25.729 1.808 1.189a7.792 7.792 0 0 1 1.483 1.627c.206.31.386.639.537.98a5.81 5.81 0 0 1 .422 3.307 7.24 7.24 0 0 1-.685 2.088 9.157 9.157 0 0 1-.54.938c-.198.298-.41.587-.637.864a12.835 12.835 0 0 1-3.188 2.755 12.49 12.49 0 0 1-1.864.946c-.323.13-.651.242-.983.345-.332.097-.67.174-1.01.231a13.07 13.07 0 0 0 3.563-1.954 13.78 13.78 0 0 0 2.822-2.835 10.012 10.012 0 0 0 .991-1.692 6.625 6.625 0 0 0 .534-1.832 5.017 5.017 0 0 0-.39-2.732 5.528 5.528 0 0 0-.456-.822 6.846 6.846 0 0 0-1.274-1.415 9.552 9.552 0 0 0-1.605-1.103 13.664 13.664 0 0 0-7.708-1.567c-.67.068-1.33.206-1.97.412a7.138 7.138 0 0 0-.94.381c-.31.15-.608.326-.89.524Zm6.54 17.789a1.37 1.37 0 0 1-.283-.061 1.73 1.73 0 0 1-.262-.107c-.087-.138-.174-.275-.248-.417a8.28 8.28 0 0 1-.384-.852c-.112-.283-.216-.56-.334-.817a3.689 3.689 0 0 0-.191-.366c.005-.08.008-.161.01-.252v-.275a1.254 1.254 0 0 1 .28.074c.09.034.177.075.26.123.083.14.158.283.225.43.131.287.238.573.347.847.103.269.22.532.353.787.063.123.136.24.217.352l.005.255.005.28Zm-3.146-1.697c.04.012.075.027.112.04l.101.04a2.6 2.6 0 0 1 .19.08c.028.09.07.175.109.263.08.174.167.349.255.527.088.178.179.36.264.546.043.094.085.189.124.286a1.878 1.878 0 0 1-.19.403c-.154-.053-.276-.108-.404-.161a7.38 7.38 0 0 0-.114-.262c-.08-.174-.167-.35-.256-.527-.089-.177-.18-.36-.264-.547-.045-.093-.081-.19-.127-.285.022-.069.05-.135.08-.2l.051-.1c.026-.036.044-.068.069-.103Zm8.788-26.811C21.745-.418 24.163-.66 23.92 2a3.337 3.337 0 0 1-3.87-.967"
        fill="#2C6C60"></path>
    </svg>
  </a>
  <PcNav />
  <SpNav />
</header>
