<nav id="pc-nav">
  <ul class="o-switcher o-switcher:pc-nav">
    <li class="c-nav-item">
      <a href="/examples" class="c-nav-link c-nav-link:pc-nav">実績紹介</a>
    </li>
    <li class="c-nav-item">
      <a href="/about-us" class="c-nav-link c-nav-link:pc-nav">私たちについて</a>
    </li>
    <li class="c-nav-item">
      <a href="/services" class="c-nav-link c-nav-link:pc-nav">サービス</a>
    </li>
    <li class="c-nav-item">
      <a href="/company" class="c-nav-link c-nav-link:pc-nav">会社情報</a>
    </li>
    <li class="c-nav-item">
      <a href="/news" class="c-nav-link c-nav-link:pc-nav">ニュース</a>
    </li>
    <li class="c-nav-item">
      <a href="/posts" class="c-nav-link c-nav-link:pc-nav">記事・トピック</a>
    </li>
    <li class="c-nav-item">
      <a href="/inquiry" class="c-nav-link c-nav-link:pc-nav">お問い合わせ</a>
    </li>
  </ul>
</nav>
